@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DelaSuko";
  src: url("../public/fonts/DelaSukoGothicOne-R.ttf");
}

@font-face {
  font-family: "Satoshi";
  src: url("../public/fonts/Satoshi-Variable.woff2");
}